/* You can add global styles to this file, and also import other style files */
*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html, body {
  margin: 0 !important;
  padding: 0;
  height: 100%;
  width: 100%;
  background: #0b1220;
  overflow-x: hidden;
}